@import url("https://fonts.googleapis.com/css2?family=Candal&family=Erica+One&display=swap");

body {
  margin: 0;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
  text-align: center;
}

/* >>>>>>>>>>>>>>> GENERAL STYLES <<<<<<<<<<<<<<< */

.error-msg {
  display: inline;
  color: white;
  width: 50vw;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #f77777;
  padding: 0.5rem 1rem;
}

.error-msg-auth {
  background: #f77777;
  max-width: 30vw;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0.5rem 1rem;
}

.webpage-title {
  background-color: #f7cc77;
  padding: 1rem;
  font-weight: 200;
  font-size: 3rem;
  margin-top: 0;
  text-shadow: 1px 1px #f7cc77;
}

.webpage-subtitle {
  font-weight: 200;
  font-size: 2rem;
  text-shadow: 1px 1px #f7cc77;
}

.form-button {
  margin: 0;
  transition: 0.2s;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.7rem 2.5rem;
  color: white;
  border: 1px solid #a26360;
  border-radius: 2rem;
  background: rgb(162, 99, 96);
}

.form-button:hover {
  transition: 0.2s;
  color: #a26360;
  background-color: white;
}

.square-button {
  transition: 0.3s;
  font-size: 1.6rem;
  font-weight: 400;
  width: fit-content;
  margin: 1rem;
  padding: 0.5rem 2rem;
  background-color: white;
  border: 1px solid #f7cc77;
  box-shadow: 5px 5px #f7cc77;
}

button a {
  color: black;
}

.square-button:hover {
  transition: 0.3s;
  background-color: #f7cc77;
  box-shadow: none;
}

.square-button-small {
  transition: 0.3s;
  font-size: 1.3rem;
  font-weight: 400;
  width: fit-content;
  margin: 1rem 0;
  padding: 0.4rem 1.5rem;
  background-color: white;
  border: 1px solid #f7cc77;
  box-shadow: 5px 5px #f7cc77;
}

.square-button-small:hover {
  transition: 0.3s;
  background-color: #f7cc77;
  box-shadow: none;
}

form {
  margin: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.4rem;
  font-weight: 200;
}

input {
  font-size: 1.4rem;
  font-weight: 300;
  width: 30vw;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #a26360;
  border-radius: 2rem;
}

button {
  margin: 0.5rem;
  background-color: white;
  font-size: 1rem;
  border: 1px solid #a26360;
}

button:hover {
  background-color: #a26360;
  color: white;
}

.increase-bottom-margin {
  margin-bottom: 1rem;
}

/* >>>>>>>>>>> SIGN UP & LOG IN<<<<<<<<<< */

.center {
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f7cc77;
  background: #f7cc7719;
  border-radius: 2rem;
}

.center h3 {
  margin-bottom: 0;
  font-size: 2.7rem;
  color: #f7cc77;
  text-shadow: 2px 2px  gray;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 2px solid #f7cc77;
}

.center form {
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.txt-field {
  width: 90%;
  position: relative;
  border-bottom: 2px solid gray;
  margin: 1.5rem 0;
}

.txt-field input {
  color: black;
  font-weight: 300;
  width: 100%;
  padding: 0 0.5rem;
  height: 2rem;
  font-size: 1.7rem;
  border: none;
  background: none;
  outline: none;
}

.txt-field label {
  position: absolute;
  top: 10%;
  left: 2%;
  text-align: start;
  color: gray;
  font-size: 1.5rem;
  font-weight: 300;
  pointer-events: none;
  transition: 0.3s;
}

.txt-field span::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: 0;
  width: 0%;
  transition: 0.3s;
  height: 0.1rem;
  background: #f7cc77;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
  top: -75%;
  color: #f7cc77;
}

.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
  width: 100%;
}

.center button {
  width: 90%;
  background: #f7cc77;
    color: black;
    border: 2px solid #f7cc77;
   

}

.center button:hover {
    background: #f7cc77;
    box-shadow: 3px 3px 3px gray;
}

.signup-link {
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

.signup-link a {
  padding-left: 0.5rem;
  text-decoration: underline #f7cc77;
  color: #f7cc77;
  transition: 0.2s;
}

/* >>>>>>>>>>>>>> NAVBAR <<<<<<<<<<<<<< */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: #a26360; */
}

nav div {
  padding: 2rem;
}

.logo {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: candal;
  color: #a26360;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 3rem;
  margin-right: 1rem;
}

nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  text-decoration: none;
  padding: 0 1rem;
}

nav ul li a,
button {
  transition: 0.3s;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
}

nav ul li a:hover {
  transition: 0.3s;
  background-color: #f7cc77;
}

.nav-auth {
  transition: 0s;
  text-decoration: none;
  border: none;
  background-color: white;
  padding: 0;
}

.nav-auth:hover {
  transition: 0.5s;
  background-color: #f7cc77;
}

/* >>>>>>>>>>>> FOOTER <<<<<<<<<<< */

.about-me {
  width: 50vw;
  margin: 2rem auto;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-me a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.2s;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.7rem 2.5rem;
  color: white;
  background: #a26360;
  border: 2px solid #a26360;
  border-radius: 2rem;
}

.about-me a:hover {
  background-color: white;
  color: black;
}

/* >>>>>>>>>>>>> HOMEPAGE <<<<<<<<<<<< */

.homepage-part-one {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage-part-one div {
  margin: 2rem;
  width: 45vw;
}

.homepage-part-one div img {
  max-width: 45vw;
  box-shadow: 10px 10px #f7cc77;
}

.welcome {
  margin: 0 2rem;
  max-height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.welcome h2 {
  margin-top: 0;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

.welcome div {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.welcome p {
  width: 40vw;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.homepage-part-two {
  padding: 2rem;
  background-color: #a26360;
  color: white;
}

.homepage-part-two > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.homepage-part-two-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homepage-part-two-container h4 {
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
}

.homepage-part-two img {
  max-width: 20vw;
}

.homepage-part-two h3 {
  margin: 0;
  font-size: 3rem;
  font-weight: 200;
  padding: 1rem;
}

/* >>>>>>>>>>> SENIORS LIST <<<<<<<<<<<< */

.seniors-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.seniors-list-container div {
  max-width: 30vw;
  margin: 2rem 1rem;
}

.seniors-list-container img {
  width: 25vw;
}

.seniors-list-container h3 {
  font-size: 1.8rem;
  font-weight: 200;
  padding: 0.5rem 0;
  margin: 0.2rem;
}

.seniors-list-container h4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0.4rem;
}

.seniors-list-container p {
  transition: 0.3s;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  width: fit-content;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  box-shadow: 5px 5px #f7cc77;
  border: #f7cc77 1px solid;
}

.seniors-list-container p:hover {
  transition: 0.3s;
  background-color: #f7cc77;
  box-shadow: none;
}

.file-upload {
  padding: 0;
  width: 40vw;
}

input[type="file"]::file-selector-button {
    border: none;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    background: #a26360;
    color: white;
    transition: 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background: #a26360aa;
}

input[type="file"] {
  padding: 0 1;
  color: gray;
}

/* >>>>>>>>>>>>> SENIOR PROFILE <<<<<<<<<<<<< */

.senior-profile-container {
  margin: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.senior-profile-container div {
  width: 40vw;
  text-align: start;
}

.senior-profile-container img {
  max-height: 60vh;
  box-shadow: #f7cc77 6px 6px;
  margin: 1rem 0;
}

.senior-profile-container h2 {
  font-weight: 200;
  font-size: 2rem;
}

.senior-profile-container h4 {
  font-weight: 200;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.senior-profile-need {
  font-weight: 200;
  font-size: 1.2rem;
  color: black;
  border: 1px solid #f7cc77;
  padding: 0.3rem 1rem;
  margin: 1rem 0;
}

.senior-profile-need a {
  color: black;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* >>>>>>>>> ABOUT <<<<<<<< */

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about div {
  width: 40vw;
}

.about img {
  width: 35vw;
}

.about {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2.5rem;
}

.about h4,
.about h3 {
  font-size: 2rem;
  font-weight: 200;
  text-shadow: 2px 2px 2px #f7cc77;
}

/*  >>>>>>>>> USER PROFILE <<<<<<<<< */

.seniors-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

.single-senior {
  display: flex;
  flex-direction: row;
  outline: 1px solid #f7cc77;
  margin: 1rem;
}

.single-senior div {
  margin: 1rem;
  text-align: start;
}

.single-senior img {
  width: 20vw;
}

.single-senior h3 {
  font-weight: 200;
  font-size: 2rem;
}

.single-senior h4 {
  font-weight: 200;
  font-size: 1.5rem;
}

/* >>>>>>>>>>>> NEED DETAILS <<<<<<<<<< */

.need-container {
  margin: 2rem auto;
  padding: 1rem;
  width: 50vw;
  outline: 1px solid #f7cc77;
}

.need-container p {
  font-size: 1.5rem;
}

.need-btns {
  margin: 2rem auto;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


/* >>>>>>>>>> SEARCH BAR <<<<<<<<<< */

.search-bar input{
  width: 30vw;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #a26360;
}