@import url("https://fonts.googleapis.com/css2?family=Candal&family=Erica+One&display=swap");

body {
  margin: 0;
}

.App {
  text-align: center;
}

/* >>>>>>>>>>>>>> NAVBAR <<<<<<<<<<<<<< */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #a26360;
}

nav div {
  padding: 2rem;
}

.logo {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: "Candal", sans-serif;
  color: white;
}

nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  text-decoration: none;
  padding: 0 1rem;
}

nav ul li a {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: white;
}

nav ul li a:hover {
  transition: 0.3s;
  background-color: #8f5754;
}

/* >>>>>>>>>>>>> HOMEPAGE <<<<<<<<<<<< */

.homepage-part-one {  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage-part-one div{
  width: 50vw;
}

.homepage-part-one div img {
  max-width: 55vw;
}

.welcome {
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.homepage-part-one h2,
.homepage-part-one p {
  color: black;
  text-align: center;
}

.homepage-part-two {
  padding: 2rem;
  background-color: #a26360;
  color: white;

}

.homepage-part-two > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.homepage-part-two-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homepage-part-two-container h4 {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
}

.homepage-part-two img {
  max-width: 20vw;
}

.homepage-part-two h3 {
  margin: 0;
  font-size: 3rem;
  font-weight: 200;
  padding:  1rem;
}